// Place all the styles related to the movie controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html,body{
    height : 100%;
    width: 100%;
}

.container{
    height : 100%;
}
section{
    height : 400px;
}

section > div {
    height : 100%;
    font-size : 40px;
}

.poster > img{
    height : 100%;
    width : auto;
}
